ul {
  list-style-type: none;
}

.vertical-line {
    border-left: 2px solid #a8a8a8;
}

img {
  width: 100%;
}

h2 {
  font-family: 'Playfair Display', serif;
}

p {
  font-family: 'Georgia', serif;
}
