doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title News
    // Normalize
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css')
    // Bootstrap
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/spacelab/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Playfair+Display', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='style-news.css')
  body
    // Navigation Bar
    nav.navbar.navbar-default
      .container-fluid
        .row
          .col-md-6
            a.navbar-brand(href='/profile') PhishFarm
          .col-md-6
            a.navbar-brand(href='/profile') Back to Profile
    // News
    .container
      .row
        .news.col-lg-10.col-lg-offset-1.vertical-line
          h1.text-center News
          br
          br
          ul
    // moment.js
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js')
    // jQuery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='news-ajax.js')
