doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Profile
    // Normalize
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css')
    // Bootstrap
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/spacelab/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Playfair+Display', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='style-profile.css')
  body
    // Navigation Bar
    nav.navbar.navbar-default
      .container-fluid
        .row
          .col-md-4
            a.navbar-brand(href='profile.html') PhishFarm
          .col-md-4
            a.navbar-brand(href='profile.html') Welcome back, Bradford
          .col-md-4.text-right
            button.btn.btn-default.navbar-btn(type='button') Log out
    #left-nav.list-group.col-lg-2.col-md-3
      .list-group.col-lg-2.col-md-3
        h3 Profile
      button#recent.list-group-item.active Most Recent Show
      button#tiph.list-group-item Today in Phish History
      button#upcoming.list-group-item Upcoming shows
      button#reviews.list-group-item How've they been playing?
    .contatiner
      .row.col-lg-8
        ul#display(style='list-style:none')
    // jQuery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='profile-ajax.js')
