doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Profile
    // Normalize
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css')
    // Bootstrap
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/spacelab/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Playfair+Display', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='style-profile.css')
  body
    // Navigation Bar
    nav.navbar.navbar-default
      .container-fluid
        .row
          .col-md-6
            a.navbar-brand(href='profile.html') PhishFarm
          .col-md-6
            a.navbar-brand(href='profile.html') Welcome back, Bradford
          div
            a(href='/logout') Log-out
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js')
    // jQuery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='script.js')
