doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title PhishFarm Register
    // Normalize
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css')
    // Bootstrap
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/spacelab/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='style-index.css')
    link(rel='icon', type='image/png', href='donuts.png')
  body
    // Navigation Bar
    nav.navbar.navbar-default
      .container-fluid
        .row
          .col-md-6
            a.navbar-brand(href='/') PhishFarm
          .col-md-6.text-right
            a.btn.btn-default.navbar-btn(href='/' role='button') Sign in
            
            
    // Register
    .container.vertical-center
      .jumbotron.col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3
        .row
          .panel-heading
            .panel-title.text-center
              h3.title Register for PhishFarm
              h5 Create a PhishFarm account to get free access to everything Phish
          .main-login.main-center.col-xs-10.col-xs-offset-1
            form.form-horizontal(method='POST', action='/register')
              // Email
              .form-group
                label.cols-sm-2.control-label(for='email') Your Email
                .cols-sm-10
                  .input-group
                    span.input-group-addon
                    input#email.form-control(type='email', name='email', placeholder='Enter your Email')
              // Username
              .form-group
                label.cols-sm-2.control-label(for='username') Username
                .cols-sm-10
                  .input-group
                    span.input-group-addon
                    input#username.form-control(type='text', name='username', placeholder='Enter your Username')
              // Password
              .form-group
                label.cols-sm-2.control-label(for='password') Password
                .cols-sm-10
                  .input-group
                    span.input-group-addon 
                    input#password.form-control(type='password', name='password', placeholder='Enter your Password')
              // Confirm Password
              //
                <div class="form-group">
                <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                <div class="cols-sm-10">
                <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                <input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password"/>
                </div>
                </div>
                </div>
              // Register Button
              .form-group
                input.btn.btn-primary(type='submit', value='Sign Up')
              // Login Button
              .login-register
                a(href='/') Login
    // jQuery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
