body {
    background-image: url('chat.jpg');
    background-size: cover;
}

#chat {
  height: 55vh;
  width: 75vw;
}

#content-wrap {
  display: none;
}

#chat-wrap {
  float: left;
  border: 3px solid #202020;
  padding: 2rem;
  margin-left: 1rem;
  border-radius: 8px;
  background-color: #e8e8e8;
}

.error {
  color: red;
}

#send-message {
  border-top: 2px solid black;
  padding: 1rem;
}

.msg {
  color: #111ba3;
  font-size: 1.5rem;
}

#bold {
  color: #e83624;
}

#nickname-wrap {
  margin-top: 20rem;
}

#users {
  font-size: 1.7rem;
  margin: .5rem;
}

.chat-jumbo {
  display: none;
  border: 3px solid #202020;
  padding: 15px;
  background-color: #baabc4;
}

#pick-nickname-text {
  color: #5d5d5d;
  font-size: 1.8rem;
}

nav a+a {
  margin-left: .4em;
}
